@charset "utf-8";

@use "sass:map";
@use "sass:math";
@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;

.l-main {
  min-height: 100vh;
}

.l-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.l-spacer {
  padding-left: map.get($map: $space, $key: md);
  padding-right: map.get($map: $space, $key: md);

  @include mqw-up(xmd) {
    padding-left: map.get($map: $space, $key: xmd);
    padding-right: map.get($map: $space, $key: xmd);
  }
  @include mqw-down {
    padding-left: map.get($map: $space, $key: sm);
    padding-right: map.get($map: $space, $key: sm);
  }
  @include mqw-down(xs) {
    padding-left: map.get($map: $space, $key: xs);
    padding-right: map.get($map: $space, $key: xs);
  }
}

.l-mqw-up {

  @include mqw-down {
    display: none !important;
  }
}

.l-mqw-down {

  @include mqw-up {
    display: none !important;
  }
}

.l-mqw-xmd-up {

  @include mqw-down(xmd) {
    display: none !important;
  }
}

.l-mqw-xmd-down {

  @include mqw-up(xmd) {
    display: none !important;
  }
}
